// Size
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

// Text decoration
@mixin text-underline($thickness: rem(2px), $direction: to-bottom) {
    display: inline-block;
    background-image: linear-gradient(transparent 0, currentColor 0);
    background-repeat: no-repeat;
    @if $direction == "to-bottom" {
        background-position-y: 87.5%;
        background-size: 100% 0;
        transition: background-position-y 0.15s linear, background-size 0.075s linear 0.075s;
    } @else if $direction == "to-left" or $direction == "to-right" {
        @if $direction == "to-left" {
            background-position-x: right;
        }
        background-position-y: bottom;
        background-size: 0 $thickness;
        transition: background-size 0.15s linear;
    } @else {
        @error "Direction may only be one of the following values: to-top, to-bottom, to-left, to-right.";
    }

    &:hover {
        text-decoration: none;
        @if $direction == "to-bottom" {
            background-position-y: bottom;
        }
        background-size: 100% $thickness;
    }
}

// Typography
@mixin rhythm($fontSize: 1rem, $fontWeight: normal, $lineHeight: 1.15) {
    line-height: $lineHeight;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

// <input> placeholder colors
@mixin placeholder-color($color) {
	&::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:placeholder-shown {
		color: $color;
	}
}

// Background gradient
@mixin background-gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation == "horizontal" {
      	background: linear-gradient(to right, $start-color, $end-color);
    } @else if $orientation == "vertical" {
	  	background: linear-gradient(to bottom, $start-color, $end-color);
    } @else {
		background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}

// Border radius
@mixin border-radius($radius) {
    border-radius: $radius;
    background-clip: padding-box;  // Prevents background-color from leaking outside the border.
}

@mixin border-top-radius($radius) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-right-radius($radius) {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-left-radius($radius) {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}

// Outline radius
@mixin outline-radius($width: rem(3px), $radius: 0) {
    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 0 $width ActiveBorder; // Keyword is deprecated but will most certainly always keep working. - https://www.w3.org/TR/css-color-4/#deprecated-system-colors

        // Firefox 22 and up: use the actual outline property instead of box-shadow.
        @supports (-moz-appearance: meterbar) {
            outline-color: initial;
            outline-style: initial;
            outline-width: $width;
            @if $radius != 0 {
                -moz-outline-radius-topleft: $radius;
                -moz-outline-radius-topright: $radius;
                -moz-outline-radius-bottomleft: $radius;
                -moz-outline-radius-bottomright: $radius;
            }
            box-shadow: initial;
        }
    }
}

// Transform: rotate
@mixin rotate($deg) {
    @include transform(rotate(#{$deg}deg));
}

// Transform: scale
@mixin scale($factor) {
    @include transform(scale(#{$factor}));
}

// Aspect ratio box
@mixin aspect-ratio($width: 16, $height: 9, $alignment: center) {
    position: relative;
    padding-top: ($height / $width) * 100%;
    overflow: hidden;

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @if $alignment == "center" {
            > :not(iframe) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        > iframe {
            width: 100%;
            height: 100%;
        }
    }
}
