//
$breakpoints-height: (
    xxxs: 240px,
    xxs: 280px,
    xs: 360px,
    sm: 480px,
    md: 568px,
    lg: 720px,
    xl: 800px,
    xxl: 960px,
    xxxl: 1050px
);

// MIXINS
$min-body-width: none;
$max-body-width: 2560px;
$min-body-height: map-get($breakpoints-height, xxxs);
